/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to top, #ace0f9, #fff1eb);
}
.heading {
  font-size: 32px;
  font-family: 'Roboto';
}
.input-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #7b8794;
  color: #7b8794;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.input {
  border-style: none;
  margin-left: 3px;
  width: 100%;
}
.search-icon {
  height: 18px;
  width: 18px;
  margin: 10px;
}
.ul-container {
  list-style-type: none;
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
